# Supabase Configuration
VITE_SUPABASE_URL=https://rxzubvqznmvvarmfsioe.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Mapbox Configuration
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiaGFubmVzdGh1cjEyMyIsImEiOiJjbWV2cTk2Y2kwY3J4MmpzN2N3YWFpdXRtIn0.HMwsWwD4VsglAlp3kjultg

# Development
VITE_APP_ENV=development
